
<div>
	<div class="row">
		<h1>Treasure!</h1>
	</div>
	<div class="row">
	<span>Total: <%= @treasure[:total] %> gp</span>
	</div>
	<div class="row">
		<% @treasure[:hoards].each_with_index do |hoard, index| %>
			<div>
				hoard <%= index + 1 %> total: <%= hoard[:total] %> gp 
			</div> 
				<%= render partial: "consolidated_treasure", :object => consolidate_containers(hoard) %>
		<% end %>
	</div>
</div>